.header {

    font-size: 18px;
    font-weight: 700;
}



.container {
background-color: #4D96A4;
color: white;
padding: 15px;
margin-bottom: 12px;
margin-top: 6px;
margin-left: 300px;
margin-right: 400px;


}